<li>
    <b>[<%= item.priority%>]<%= item.title %></b>
    <br>
    <%= item.description %>
    <form class="delete-task-form">
        <input style="display: none" type="number" name="index" value="<%= index %>">
        <input class="btn btn-danger" type="submit" value="Delete">
    </form>
    <button type="button" class="btn btn-light">Update</button>
</li>