<li>
    <b>[<%= item.priority%>]<%= item.title %></b>
    <br>
    <%= item.description %>
    <form action="/todo-delete" method="post">
        <input style="display: none" type="number" name="index" value="<%= index %>">
        <input type="submit" value="Delete">
    </form>
</li>