<%- include('partials/header'); -%>
<div class="container">
    <h1 id="title">TODOs</h1>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <% todos.forEach((item, index) => { %>
                <%- include('components/task', {item, index}); -%>
                <% }) %>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Add New Task</h2>
            <form action="/todo" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input class="form-control" type="text" name="title" placeholder="Title"><br>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input class="form-control" type="text" name="description" placeholder="Description"><br>
                </div>
                <div class="form-group">
                    <label for="priority">Priority:</label>
                    <input class="form-control" type="number" name="priority" placeholder="5"><br>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="update-form" action="/todo" method="post">
                <div class="modal-body">
                            <input disabled hidden type="number" name="index">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input class="form-control" type="text" name="title" placeholder="Title"><br>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input class="form-control" type="text" name="description" placeholder="Description"><br>
                        </div>
                        <div class="form-group">
                            <label for="priority">Priority:</label>
                            <input class="form-control" type="number" name="priority" placeholder="5"><br>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>
<script>
    $(function () {
        let forms = $('.delete-task-form')
        for (const form of forms) {
            $(form).submit((event) => {
                event.preventDefault()
                $.ajax('/todo', {
                    method: 'DELETE',
                    data: $(form).serialize()
                }).done((response) => {
                    location.reload()
                }).error((error) => {
                    console.error(error)
                })
                console.log('done')
            })
        }

        let updateButtons = $('.update-btn')
        for (const button of updateButtons) {
            $(button).click(() => {
                let parent = $(button).parent()
                let input = parent.find('input.index-value')[0]
                $("#update-form input[name='index']")[0].value = parent.find(
                    'input.index-value')[0].value
                $("#update-form input[name='title']")[0].value = parent.find(
                    'input.title-value')[0].value
                $("#update-form input[name='description']")[0].value = parent.find(
                    'input.description-value')[0].value
                $("#update-form input[name='priority']")[0].value = parent.find(
                    'input.priority-value')[0].value
                $('#updateModal').modal({
                    show: true
                })
            })
        }

        let updateForm = $('#update-form')
        updateForm.submit((event) => {
            event.preventDefault()
            $.ajax('/todo', {
                method: 'PUT',
                data: {
                    index: parseInt($("#update-form input[name='index']")[0]
                        .value),
                    data: {
                        title: $("#update-form input[name='title']")[0].value,
                        description: $(
                                "#update-form input[name='description']")[0]
                            .value,
                        priority: parseInt($(
                            "#update-form input[name='priority']")[
                            0].value),
                    }
                }
            }).done((response) => {
                location.reload()
            }).error((error) => {
                console.error(error)
            })
        })
    })
</script>
<%- include('partials/endhtml'); -%>